/***
  |----------------------------------------------------------------------------
  | PROJECT NAME: My Portfolio
  | Author: Amrit
  | CSS: Custom Style
  | Bootstrap Version: 5.2.2
  |----------------------------------------------------------------------------  
  
***/

@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Lato:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css');

/* ==================================================================
General Styles
================================================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  // --text: #ff89b5;
  --shadow-color: #292929;
  --grey: #c0c2ce;
  --dark-blue: #012f63;
  --light-red: #fe667b;
}

body {
  line-height: 24px;
  background-color: var(--grey);
  color: var(--dark-blue);
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  counter-reset: section;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;  
}

ul,
ol {
  padding: 0;
  margin-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Kalam', cursive;
  color: var(--dark-blue);
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.2em;
}

p {
  margin-bottom: 0;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: var(--dark-blue);
}

.navbar {
  margin: 15px 0;
}

.navbar-brand {
  font-family: 'Kalam', cursive;
  font-size: 2em;
}

.navbar-nav .nav-link {
  padding: 0.25em 1.5em !important;
}

.nav-link {
  color: var(--dark-blue);
  &:hover {
    color: var(--light-red);
  }
}

button, .btn {
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 4px 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border-color: var(--light-red);
  color: var(--dark-blue);
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 12px;
}

.btn.btn-custom {
  background-color: transparent;
  border: 1px solid var(--dark-blue);
  border-radius: 4px;
  padding: 0.75em 1.5em;
  margin-top: 20px;
  &:hover {
    background-color: var(--dark-blue);
    color: var(--light-red);
  }
}

.type--h1 {
  font-family: 'Kalam', cursive;
  position: relative;
  margin-bottom: 20px;
  display: inline-block;
  z-index: 99;
  font-size: 2em;
  font-weight: 700;
  line-height: 34px;
}

.type--h1:after, .type--h2:after {
  content: "";
  position: absolute;
  width: 105%;
  height: 15px;
  bottom: 3px;
  background: var(--light-red);
  left: 0;
  z-index: -9;
}

/* ==================================================================
Custom Scrollbar
================================================================== */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-blue);
  border-radius: 20px;
  border: 4px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-blue);
}

/* ==================================================================
Mediaqueries
================================================================== */



